/* styling */
.center-heading {
    display: flex;
    justify-content: center;
    align-items: center;
}

.center-items {
    display: flex;
    justify-content: center;
    align-items: center;
}

.center-button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40vh;
}